extends layout

block content
  h1= title
  h3 by @#{author}
  if releases
    for release in releases
      div
        img(src=release.basic_information.thumb)
        for artist in release.basic_information.artists
          p=artist.name
        else
          p No artist
    else
      p No release
  else if identity
    pre= identity
  else
    p
      |link to
      =" "
      a(href=git) repository
    pre=sessionDebug
    a(href='/disco/authorize') Authorize App